/* ==UserStyle==
@name           make akkoma's profiles more readable
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    A new userstyle
@author         Me
@preprocessor   stylus
@updateURL      https://codeberg.org/Freeplay/UserStyles/raw/branch/main/akkoma-readable-profiles.user.css
==/UserStyle== */

@-moz-document domain("0w0.is"), domain("outerheaven.club"), domain("seafoam.space"), domain("akko.wtf"), domain("mycrowd.ca") {
	#main-scroller .user-card {
		z-index unset
		.background-image {
			position static
			height 400px
			mask unset
			-webkit-mask unset
			z-index -1
		}
		.panel-heading {
			margin-top -250px
			z-index 0
			border-radius 12px 12px 0 0
			position static
			.user-info {
				&::before {
					content ""
					position absolute
					inset-inline 0
					top unset
					height 250px
					background var(--bg)
					border-radius var(--panelRadius, 10px) var(--panelRadius, 10px) 0 0
					display unset
					mask linear-gradient(rgba(0,0,0,0.7), black)
					-webkit-mask @mask
				}
			}
			.container {
				padding-top 15px
				position relative
			}
			.user-info-avatar-link {
				position absolute
				bottom 0
				.avatar, .user-info-avatar-link-overlay {
					width 70px
					height @width
				}
			}
			.user-summary {
				line-height 1.4
				margin-left 85px
			}
			.bottom-line {
				font-size .9em
			}
		}
		.user-interactions {
			margin-top 10px
		}
		.user-counts {
			padding-top 0
			.user-count {
				width 0
				min-width max-content
			}
		}
	}
	.status-container {
		.panel-heading {
			margin-top -400px
			padding-top 0
			.user-info {
				padding-top 10px
				&::before {
					border-radius 0
					top 0
					height 400px
				}
			}
		}
		.container {
			align-items center
		}
		.user-summary {
			margin-left 10px !important
		}
	}
}